---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Sobre mí | Portfolio Jesica">
  <div class="inner-wall">
    <div class="inner-content sobre-mi-content">
    <div class="sobre-mi-box">
      <h1>Sobre mí</h1>

      <p>
        Soy <strong>Jesica Serrano</strong>, desarrolladora web en formación.
        Me gusta crear proyectos prácticos y aprender nuevas tecnologías enfocadas al mundo real.
      </p>

      <h2>Stack tecnológico</h2>

      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Astro</li>
        <li>WordPress</li>
      </ul>

      <div class="back-link">
        <a href="/">Volver al inicio</a>
      </div>
    </div>
  </div>
</BaseLayout>