---
const { titulo, descripcion, tecnologias, slug } = Astro.props;
---

<div class="card">
  <h2>{titulo}</h2>
  <p>{descripcion}</p>

  <p>
    <strong>Tecnologías:</strong> {tecnologias.join(", ")}
  </p>

  <a href={`/proyectos/${slug}`}>Ver detalle</a>
</div>